.DS_Store
ppgtk.*
!ppgtk.tex
!ppgtk.bib
!ppgtk.pdf
extending-ppgtk.*
!extending-ppgtk.tex
!extending-ppgtk.bib
!extending-ppgtk.pdf
ppgtk-notes.*
!ppgtk-notes.tex
!ppgtk-notes.bib
!ppgtk-notes.pdf
*~
.*~
